/*.header {
	text-align: center;
	width: 100%;
	height: 30%;
	margin-top: 0;
	padding-top: 0;
	margin-left: 0;
	color: #F8E1E1;

}*/

.header {
  padding: 40px;
  text-align: center;
  background: rgba(112, 229, 255, 0.23);
  color: white;
  font-size: 30px;
  margin-top: -18px;
  width: 100%;
  margin-left: -38px;
}

form {
	text-align: center;
	font-family: 'Ruda', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 30px;

	color: #EE4E4E;
}

mark { 
	color: #004EAA;
	background-color: white;

	font-family: 'Bree Serif', serif;
	font-size: 30px;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
}

.map {
	display: flex;
	justify-content: center;
	width: 1118;
    height: 478;


}
